---
layout: question
---
<div class="question-text">
	{{ content }}
	<!--<big>You</big> are a ...-->
</div>

<section class="trifold-section">

	<div class="trifold">
		<div class="trifold-background">
			<img src="{{ "/img/trifold.png" | prepend: site.baseurl }}" alt="WELCOME WHERE ARE YOU GOING?">
		</div>

		<div class="trifold-content">

			<div class="trifold-inner-content">

				{% for question in page.questions %}
				<a
					{% if page.id < 6 %}
					href="{{page.category}}-{{page.id}}.html"
					{% else %}
					href="{{ "/results.html" | prepend: site.baseurl }}"
					{% endif %} class="pane {% if forloop.last == true %}last{% endif %}{% if forloop.first == true %}first{% endif %}">
					<div class="inside-pane">
						<div class="image">
							<img src="{{ ".png" | prepend: forloop.index | prepend: "-" | prepend: page.id | prepend: "-q" | prepend: page.category | prepend: "/img/icons/questions/" | prepend: site.baseurl }}" class="default" alt="">
							<img src="{{ ".png" | prepend: "overlay" | prepend: forloop.index | prepend: "-" | prepend: page.id | prepend: "-q" | prepend: page.category | prepend: "/img/icons/questions/" | prepend: site.baseurl }}" class="overlay" alt="">
						</div>
						<div class="text">{{question.title}}</div>
					</div>
				</a>
				{% endfor %}

			</div>

		</div>
	</div>

</section>

<h1 class="footer-logo">
	<img src="{{ "/img/logo-small.png" | prepend: site.baseurl }}" alt="WELCOME WHERE ARE YOU GOING?">
</h1>
